<h1>{{titulo}}</h1>

<button class="btn btn-success" ng-click="relocate('/')">Volver</button>
<i ng-click="refresh()" class="fas fa-sync-alt"></i>

<div class="panel panel-default">
<div class="panel-heading">Nuevo</div>
  <div class="panel-body">
   Descripción: <input type="text" ng-model="instancia.descripcion"/><br/>
   Precio: <input type="number" ng-model="instancia.precio"/><br/>
  </div>
  <div class="panel-footer">
  	<button ng-show="mostrarBotonGuardar()" class="btn btn-primary" ng-click="agregar()">Guardar</button>
  </div>
</div>

<ul>
	<li ng-repeat="p in data">
	
	{{p.id}} - <span ng-hide="p.id==instanciaM.id">{{p.descripcion}} - {{p.precio}} - 
	<i ng-click="borrar(p.id)" class="fas fa-trash-alt"></i>
	<i ng-click="startEdit(p)" class="fas fa-edit"></i></span>
	<span ng-show="p.id==instanciaM.id">
	<input type="text" ng-model="instanciaM.descripcion"/> - <input type="number" ng-model="instanciaM.precio"/>
	</span>
	</li>
</ul>